.container {
  background: linear-gradient(110deg, rgb(152, 152, 242), blue);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

form input {
  border-radius: 5px;
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  background-color: rgb(192, 130, 249);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 1px;
  color: white;
}

form input[type="button"]:hover {
  background-color: blueviolet;
}

.inputBox {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 10px 0px;
  text-align: right;
}

.inputBox input[type="text"]{
    text-align: right;
   flex: 1;
   font-size: 30px;
}

 form input.equal{
    width: 122px;
}